
html {
  margin: 0;
  padding: 0;
  background-color: #f0efe6; 
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #f0efe6;
  box-shadow:0 5px 5px 10px #f0efe6;
  margin: auto;
  margin-top: 70px;
  padding: 30px;
  max-width: 80%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1, h2{
  letter-spacing: 2px;
  word-spacing: 8px;
  text-align: center;
}

/*---------------------Barra de navegación-------------------------
Aqui establezco que la barra abarque el 100% de la pagina*/
header {
  position: fixed; 
  z-index: 1;
  top: 0; 
  width: 100%;
  background-color: #f38b66;
}
nav {
  position: relative;
  margin: auto;
  width: 1250px;
}

  /*estilo de la lista de la barra*/
nav ul {
  list-style: none;
  overflow: auto; 
  padding: 0;
  margin: 0;
}

/*permite que los elementos de la lista "floten" de izq a der.*/
nav ul li {
float: left;
display: flex;
}

/*texto de la barra*/
nav ul li a{
  font-weight:bold;
  font-size: 2rem;
  display: block;
  padding: 12px 20px 15px 15px ;
  color: #000;
  text-decoration: none;
}
.float-right img {
  float: right;
  padding: 10px 10px 10px 10px;
  width: 40px;
  height: auto;
}

/*Ajustes para el logo*/
nav ul li a img {
  width: auto;
  height: 50px;
  margin-top: 8px;
}

/*esto es para identificar en que pagina te encuentras*/
#selected {color: white;}
/*----- Carrousel ------*/
.carousel-indicators {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50px;
}
#cartas {
  display: flex;
  flex-flow: wrap;

  margin-top: 20px;
  margin-bottom: 20px;
  justify-items: center;
  gap: 2rem;
}
.card {
margin-bottom: 20px;
}
/*------------------------------Footer----------------------------*/
footer {
  padding: 10px 40px 5px 40px;
  background-color: #f0efe6;
  box-shadow: inset 0 5px 5px #f0efe6;
}

/*lista que hice para que los logos de redes sociales se vean de izq a derecha*/
footer ul {
  list-style: none;
padding-left: 0;
}

footer ul li {
  display: inline;
}
footer ul li a img{
  text-decoration: none;
  width: 40px;
  height: auto;
}

#copyright {
  font-size: 12px;
  text-align: center;
}

@media only screen and (max-width: 1032px) {
  main {
    max-width: 90%;
    margin-top: 7px;
  }
  header {
    top: 0; 
    background-color: #f38b66;
    position:static;
  }
  nav {
    margin: auto;
    width: auto;
  }
  nav ul li a {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 964px) {
  #cartas {
    flex-direction: column;
    width: -moz-fit-content;
    width:fit-content;
    }}
/*
@media only screen and (max-width: 525px) { 
}
/*--------------Ajustes que hice para la vista con dispositivos moviles-----------
{
  nav ul li img { width: 100px;
  height: auto;}
  nav ul li a{
    position: relative;
    font-size: 20px;
    padding: 0;
    overflow: auto;
  }
  
  main { width: 80%;
  }
  footer {padding: 10px;}
}

/*eso ya seria todo :)
Gracias por ver*/